<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcal.nmodlessons" >
	
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
		android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:resizeableActivity = "true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity
			android:name=".DocumentationActivity"
			android:label="@string/nmodapu_name"/>
		
		<activity
			android:name=".LessonsActivity"
			android:label="@string/lessons"/>
		
		<activity
			android:name=".LibraryActivity"
			android:label="@string/library"/>
		
		<activity
			android:name=".ColorsActivity"
			android:label="@string/colors"/>
		
		<activity
			android:name=".TextureNameActivity"
			android:label="@string/texture_name"/>
		
		<activity
			android:name=".IDActivity"
			android:label="@string/id"/>
		
		<activity
			android:name=".Lessons1"/>
		
		<activity
			android:name=".Lessons2"/>
		
		<activity
			android:name=".Lessons3"/>
		
		<activity
			android:name=".Lessons4"/>
		
		<activity
			android:name=".Lessons5"/>
		
		<activity
			android:name=".Lessons6"/>
		
		<activity
			android:name=".Lessons7"/>
		
		<activity
			android:name=".Lessons8"/>
		
		<activity
			android:name=".Lessons9"/>
    </application>

</manifest>
